body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;

    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway, sans-serif;
}

svg {
    height: 200px;
}

#note {
    color: white;
}